<div class="container" *ngIf="usuario">
	<form (ngSubmit)="update()" #usuarioForm="ngForm">
	
		<h2>Detalhes {{usuario.nome}}</h2>
		<fieldset>
		<div class="form-group">
			<label for="nome">Nome:</label>
			<input id="nome" class="form-control" [(ngModel)]="usuario.nome" 
				placeholder="nome" required name="nome" #nome="ngModel">
			<div [hidden]="nome.valid || name.pristine"
				class="alert alert-danger">
				O nome é obrigatório.
			</div>
		</div>

		<div class="form-group">
			<label for="email">E-mail:</label>
			<input id="email" class="form-control" [(ngModel)]="usuario.email" 
			placeholder="E-mail" required name="email">
		</div>
		<button class="btn btn-default" (click)="goBack()">Voltar</button>
		<button type="submit" class="btn btn-success" 
			[disabled]="!usuarioForm.form.valid">Atualizar</button>
			
		<div *ngIf="showSuccess" style="padding-top: 11px;">							
			<div class="alert alert-success alert-dismissible" role="alert">				
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"
					(click)="showSuccess=false">
					<span aria-hidden="true">&times;</span>
				</button>
				{{beanMessage.mensagem}}
			</div>			
		</div>
		<div *ngIf="showError" style="padding-top: 11px;">			
			<div class="alert alert-danger alert-dismissible" role="alert">				
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"
					(click)="showError=false">
					<span aria-hidden="true">&times;</span>
				</button>
				{{beanMessage.mensagem}}
			</div>	
		</div>
		</fieldset>
	</form>
	

</div>

