<div class="container" *ngIf="usuario">
	<h2>Detalhes {{usuario.nome}}</h2>

	<form [formGroup]="usuarioForm" novalidate>
		<div class="form-group">
			<label class="center-block">Nome:</label>			
			<input class="form-control" formControlName="nome">
		</div>
		
		<div class="form-group">
			<label class="center-block">E-mail:</label>
			<input class="form-control" formControlName="email">
		</div>
		
		<div class="form-group">
			<label class="center-block">Situação:</label>
			<select class="form-control"
				formControlName="situacao">				
				<option *ngFor="let situacao of statusList" [value]="situacao.id">{{situacao.desc}}</option>
			</select>
		</div>
		
		<p>Form value: {{usuarioForm.value | json}}</p>
		<p>Form status: {{usuarioForm.status | json}}</p>
		
		<button (click)="goBack()">Voltar</button>
		<button (click)="update()">Atualizar</button>
	</form>
</div>

